<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt veniam, quasi nulla quidem cum repudiandae ipsum. At, repellendus! Cum, quia.</p>
    </div>
</section>