
<div class="bg-light p-4 mt-4">
    <h1 class="display-4">Notes Aoo Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, recusandae. Minus adipisci eligendi cupiditate aliquam. Suscipit magni animi ipsam nulla, eveniet nobis ea quas quidem odit, adipisci placeat eos eligendi.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse dicta eligendi dolorum aperiam eius suscipit distinctio qui ad a necessitatibus.</p>
    
</div>